<div class="br-pageheader mg-30">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    
    <span class="breadcrumb-item active"><h4>Retrait de colis</h4></span>
  </nav>
</div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
    <div class="br-section-wrapper">   
        <%= render "parcel_collections/partials/parcel_collections/search-form" %>
        <center>
        <%= link_to "Réinitialiser la recherche", search_parcel_collections_path() %>

        </center>
                    
                
        
    
     
        </div>  
</div>



<div class="br-pagebody mg-b-30">
    <div class="br-section-wrapper">   
        
           
                       
    <%= render "parcel_collections/partials/parcel_collections/results"%>
               
        </div>  
</div>



