
    <div class="row pd-15">
        <!-- Stats par banques -->
        <div class="col-md-4">
            <div class="content">
                <div class="content-title">
                    <h5>Quantité totale </h5>
                </div>
                <div class="content-body">
                    <%= pie_chart @boissons_chart_pie, messages: {empty: "Pas de données"}, legend: "left", thousands: ".", decimal: ",", library: { plotOptions: { pie: { dataLabels: {enabled: true,
                format: '<b>{point.y:,.0f}</b><br>{point.percentage:.1f}%'},showInLegend: true}}}, :id => "boissons_chart_pie", adapter: "highcharts" %>
                </div>

            </div>
        </div>
        

        
        
    </div>

