<div class="br-pagebody mg-b-30 mg-t-80">
    <div class="br-section-wrapper">
        <div class="actions text-center mg-b-10">
            <button type="button"  onclick="printInvoice2()" class= "btn btn-primary print-invoices">Imprimer</button>
        </div>

        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top_rw">
                    <td colspan="2">
                        <h2 style="margin-bottom: 0px;"> Tax invoice/Bill of Supply/Cash memo </h2>
                        <span style=""> Number: 27B00032991LQ354 Date: 21-11-2018 </span>
                    </td>
                    <td  style="width:30%; margin-right: 10px;">
                        PaytmMall Order Id: 6580083283
                    </td>
                </tr>
                <tr class="top">
                    <td colspan="3">
                        <table>
                            <tr>
                                <td>
            						<b> Sold By: Nova Enterprises </b> <br>
                                    Delhivery Pvt. Ltd. Plot No. A5 Indian Corporation <br>
                                    Warehouse Park Village Dive-anjur, Bhiwandi, Off <br>
                                    Nh-3, Near Mankoli Naka, District Thane, Pin Code :
                                    421302 <br>
                                    Mumbai, Maharashtra - 421302 <br>
                                    PAN: AALFN0535C <br>
                                    GSTIN: 27AALFN0535C1ZK <br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="information">
                    <td colspan="3">
                        <table>
                            <tr>
                                <td colspan="2">
    							<b> Shipping Address: w3learnpoint </b> <br>
                                    Kokar, Ranchi <br>
                                    +0651-908-090-009<br>
                                    info@w3learnpoint.com<br>
    								www.w3learnpoint.com
                                </td>
                                <td> <b> Billing Address: w3learnpoint </b><br>
                                    Acme Corp.<br>
                                    John Doe<br>
                                    john@example.com
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <td colspan="3">
                    <table cellspacing="0px" cellpadding="2px">
                        <tr class="heading">
                            <td style="width:25%;">
                                ITEM
                            </td>
            				<td style="width:10%; text-align:center;">
                                QTY.
                            </td>
                            <td style="width:10%; text-align:right;">
                                PRICE (INR)
                            </td>
            				 <td style="width:15%; text-align:right;">
                               TAX RATE & TYPE
                            </td>
            				<td style="width:15%; text-align:right;">
                                TAX AMOUNT (INR)
                            </td>
            				<td style="width:15%; text-align:right;">
                               TOTAL AMOUNT (INR)
                            </td>
                        </tr>
                        <tr class="item">
                            <td style="width:25%;">
                                Johnson's Baby Skincare Wipes 80s
                                Pack Of 2 Rs. 60 Off
                                HSN Code :4818
                                novajj079
                            </td>
            				<td style="width:10%; text-align:center;">
                                2
                            </td>
                            <td style="width:10%; text-align:right;">
                                322.03
                            </td>
				            <td style="width:15%; text-align:right;">
                               18% IGST
                            </td>
				            <td style="width:15%; text-align:right;">
                                57.97
                            </td>
				            <td style="width:15%; text-align:right;">
                                380
                            </td>
                        </tr>
            			<tr class="item">
                           <td style="width:25%;"> <b> Grand Total </b> </td>
            				<td style="width:10%; text-align:center;">
                                2
                            </td>
                            <td style="width:10%; text-align:right;">
                                322.03
                            </td>
            				 <td style="width:15%; text-align:right;">
                            </td>
            				 <td style="width:15%; text-align:right;">
                                57.97
                            </td>
            				<td style="width:15%; text-align:right;">
                                380
                            </td>
                        </tr>
                    </td>
            	</table>
            <tr class="total">
                  <td colspan="3" align="right">  Total Amount in Words :  <b> Three Hundred Eighty Rupees Only </b> </td>
            </tr>
			<tr>
			   <td colspan="3">
			     <table cellspacing="0px" cellpadding="2px">
				    <tr>
			            <td width="50%">
						  <b> Declaration: </b> <br>
                            We declare that this invoice shows the actual price of the goods
                            described above and that all particulars are true and correct. The
                            goods sold are intended for end user consumption and not for resale.
                    	</td>
						<td>
						 * This is a computer generated invoice and does not
						  require a physical signature
						</td>
			        </tr>
					 <tr>
			            <td width="50%">
						</td>
						<td>
						 	<b> Authorized Signature </b>
							<br>
							<br>
							...................................
							<br>
							<br>
							<br>
						</td>
			        </tr>
			     </table>
			   </td>
			</tr>
        </table>
    </div>
</div>
</div>


<script>
     
        function printInvoice1() {
            var divContents = document.getElementById("invoice-box").innerHTML;
            var a = window.open('', '', 'height=500, width=500');

            
           
            a.document.write('<html>');
            //a.document.write(head);
           
            a.document.write('<body>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }

        function printInvoice2() {
            var printContents = document.getElementById("invoice-box").innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        function printFunc() {
          var divToPrint = document.getElementById('invoice-box');
          var htmlToPrint = '' +
          '<style type="text/css">' +
          'table th, table td {' +
          'border:1px solid #000;' +
          '}' +
          '</style>';
          htmlToPrint += divToPrint.outerHTML;
          newWin = window.open("");
          newWin.document.write("<h3 align='center'>Print Page</h3>");
          newWin.document.write(htmlToPrint);
          newWin.print();
        newWin.close();
    }

    </script>
