<div class="search-form">
    <%= form_with url: search_parcel_collections_path, method: :get, local: true, class: "form-inlinee" do |f| %>
        <div class="row">
            
            <div class="col-md">
                <div class="form-group">
                    <%= f.label "Code retrait", class: "required" %>
                    <%= f.text_field :mtcn, id: :mtcn, class: "form-control ", placeholder: "Code retrait", value: @selected_withdrawal_code, required: true  %>

                </div>
            </div>
            
            

           
            
                    
                
        </div><!-- end row -->
            
   
            


        <div class="row">
            <div class="col-md-12">
                <div class="form-group search-btn">
                    <%= f.submit "Rechercher", class: "btn btn-primary btn-block", :id => "search-button" %>
                </div>
            </div>
        </div>
       

        
    <% end %>
</div>