 
<tr class="blue-amount">                  
    <td colspan="5"><center>TOTAL GÉNÉRAL</center></td>
   
    <td><strong><%= number_to_currency @total_amount_incl_tax, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>
    <td><strong><%= number_to_currency @total_gross_profit, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>

    <td><strong><%= number_to_currency @total_expense, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>
    <td><strong><%= number_to_currency @total_net_profit, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>
    <td></td>
    <td></td>
    
</tr>