 
<tr class=""> 
              
    <td colspan="8" class="blue-amount"><center>TOTAUX</center></td>
    
   
    
    <td class="order-out"><strong><%= number_to_currency @total_quantity, unit: "", seperator: ",", delimiter: " " %></strong></td>
    

    
   
    
    
</tr>